*.~
*.solverstate
*.h5
\\
*~
*Results


*.pyc
*.bak
*.mexmaci64
.ipynb_checkpoints
utils/*.c
utils/*.so
*.o
*.so
*.a
*.caffemodel
*.jpg
*.png
*.pkl
*.mat
*.fig
*.tar
*.rar
*.tz
*.model
*.clothInfo
*.swp
*.bak
*.bak2


*.mexw64
*.mexa64
*.pdf

*jpg_floatResults
*jpg_intResults
*.m~
